body{
	background: #4C24AD;
	color: #9C64DC;
	font-family:Optima, Candara, "Arial Rounded MT Bold",sans-serif;
}

#container{
	width: 750px;
		background: rgba(0,0,0,0.4);
	margin:auto;
		padding:15px;
}


nav a {
	color:white;
}


figure a {
	color:darkred;
}


main nav a {
	color:darkgreen;
}


a:hover{ 
	color:Black;
}

nav ul{
	list-style:none;
	padding-left:0px;
}

figure{
	margin: 0px;
}

figure omg{
	width:100%;
}

