/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:auto;
		padding:0px;
	height:100%;
	width: 100%;
}

@font-face{
	font-family: myFont;
	src: url(Josefin-Slab)
}
.container
{
	width: 500px;
	height: 200px;
	margin: 100px auto;
	background: purple;
	position: relative;
}
	h1 {
  font-size: 1em;
  background: -webkit-linear-gradient(#1f0561, #391299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
	text-shadow: 2px 2px;
}
.container h1
{
	
	margin: 3;
	padding: 3;
	font-family: "myFont", "Liberation Serif", Times, "Times New Roman", "serif";
		font-size: 2em;
	text-transform: uppercase;
	text-align:center;
	position:relative;
	top: 50%;
	color: white;
	transform: translatey(-50%);	
}

.container h2
{
	margin: 5;
padding: 5;
	font-family: Josefin Slab, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		font-size: 1em;
	text-transform: uppercase;
	text-align:center;
	position:relative;
	top: 50%;
	color: white;
	transform: translatey(-50%);
	
	
}



html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

#box1{
	border: 2px solid white;
	height: 200px;
	background-color: mediumpurple;
}



body {
	  font-family:  serif/sans-serif, 'Times new Roman', Times, serif;
	font-size: 2rem;
	

  background: black; 
  color: White;
  margin:20px;        
}
	


#container {
	
}




