/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:100px;
	padding:40px;
	height:40%;
	
}
body{ 
    background-img: url("../img/clock-tower.png") 
		no-repeat fixed center;
	background-size: cover;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.1em;
}





/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body{
	background:#eb7a34;
	color:#0f4380;
	width:70%;
}



#container {
	width: 500px;
	margin: auto;
	margin-top: 100px;
		padding:100px;
	border:1px solid black;
}
	section#SomebodysStuff{
		width:100%;
		padding: 50px;
	}
	
	section#mystuff{
		width: 100%;
		padding: auto;
}


section{
	border:1px solid black;
	margin-bottom: 2em;
}

header, footer{
	background:#0f4380;
color:#eb7a34;
	width: 89%;
}



main{
	padding:auto;
	width:60%;
}

header{
	padding:20px;
	font-size:1.2em;
	line-height: 1.5em;
	font-family: Bebas Constantia,"Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
main header{
	background:none;
	color: #eb7a34;
	
}

P{
	margin:5px;
	width:100%;
}




	.mobile{
	
}
.desktop{	
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	body{
		background: #6f2087; 
		
	}
			
			

		#container {
	width:80px;
	margin: auto;
}
section#SomebodysStuff{
	border:20px;
	background: #1a7396;
	width:2000px
}
	footer{
		color:white;
		text-align:right;
		padding-bottom:2em;
	}
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 85px) {
	#container{
		width: 2000PX;
	}
	section#SomebodysStuff{
		float: left;
		width:100%;
	}
	
	section#mystuff{
		width:100%;
		margin:auto;
		flot: right;
	}
	
	footer {
		clear:both;
	}
	
	.mobile{
	display:none;
	
}
.desktop{
	display:none;
	
}
} /* closes 1024px+ */



