/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:12px;
	padding:10px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background: #4c046b;
	Color: white;
	font-family: Bebas Constantia,"Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
	




#container {
	width: 80%;
		background:#04616b;
	margin:auto;
	padding:20px;
	
}
main{
	display: flex;
  width:95%;        
  height: 85%;      
  padding: 8px;       
  border: 5px solid black; 
  margin: 20px;   
	}
figure,section{
	flex 1 1 50%;
}

nav ul{
	list-style: none;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
}
	nav li{
		flex 1 0 auto;
}
		


nav a {
	display: block;
	text-decoration: none;
	padding: 1em;
	border: 1px solid black;
}
.flex-container {
    display: flex;
    justify-content: space-between;  
    align-items: right;             
    width: 30%;                     
    height: 10%;                 
    background-color: #238C6E;       
    padding: 20px;
    border-radius: 1px;
}

/* Flex items */
.flex-item {
    width: 30%;                      
    height: 100px;                   
    background-color: #EA20C2    
    color: white;                    
    display: flex;
    justify-content: center;         
    align-items: center;            
    border-radius: 5px;              
    text-align: center;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



